<section id="loginPage">
    <form id='loginForm' method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" value="{{userData.email}}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" value="{{userData.password}}">

        <input type="submit" class="register" value="Login">
    </form>
</section>