<main id="register">
    {{>error}}
    <div class="register-box">
        <h1>Register</h1>
        <h4>It's free and only takes a minute</h4>
        <form method="POST">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username.." value="{{userData.username}}"/>
            <label>Email</label>
            <input type="text" name="email" placeholder="Email.." value="{{userData.email}}"/>
            <label>Password</label>
            <input type="password" name="password" placeholder="Password.." value="{{userData.password}}"/>
            <label>Confirm Password</label>
            <input type="password" name="rePassword" placeholder="Confirm Password.." value="{{repeatPassword}}"/>
            <input type="submit" value="Register" />
        </form>
        <p>Already have an account? <a href="/users/login">Login here</a></p>
    </div>
</main>